.App {
  font-family: sans-serif;
  text-align: center;
}
:root {
  --c-primary: #326cbc;
  --c-secondary: #004aad;
  --c-accent: #fefb06;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
